.main {
    gap: 50px;
    display: flex;
    flex-direction: column;

    .container-list-dino {
        display: flex;
        gap: 50px;

        a {
            text-decoration: none;

            .card {
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 9px 9px 15px 5px #0000002d;
                border: 1px solid wheat;

                .bloc-img {

                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 150px;
                        height: 150px;
                        object-fit: contain;
                    }
                }



                .bloc-nom {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        font-size: 15px;
                        font-weight: 500;
                        color: wheat;
                        text-align: center;
                    }
                }

                .niveau {
                    p {
                        color: white;
                        font-size: 12px;

                        span {
                            color: wheat;
                            font-weight: 600;
                        }
                    }
                }

                .stats {
                    color: wheat;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    p {
                        color: white;
                        font-size: 12px;

                        span {
                            color: wheat;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}